{% extends 'base1.html' %}
{% load static %}

{%block titulo%}Lista equipos de Futbol{%endblock%}


{%block contenido%}
<br>
<br>
<br>
<h1 style="text-align: center;"><strong>LISTA DE EQUIPOS DE FUTBOL</strong></h1>

<br>
<br>
<br>
<table class="table table-success table-striped" style="width:80%;margin-left:10%">
    
    {%if lista%}
<tr>
   
    <td><strong>LOGO</strong></td>
    <td><strong>NOMBRE</strong></td>
    
</tr>
{%for o in lista%}
<tr>
   
    <td><img src="{{ o.logo.url }}" alt="Logo del equipo" style="width:50px; height:auto;"></td>
    <td>{{o.nombre}}</td>
    
    
    
</tr>
{% endfor %}

{%else%}
<h2>No hay datos que mostrar</h2>
{% endif %}
{%endblock%}